Bryer.CV.aux
Bryer.CV.log
Bryer.CV.out
presentations.aux
presentations.bbl
presentations.blg
publications.aux
publications.bbl
publications.blg
software.aux
software.bbl
software.blg
unpublished.aux
unpublished.bbl
unpublished.blg
.texpadtmp/Bryer.CV.synctex.gz
.texpadtmp/presentations.aux
.texpadtmp/publications.aux
.texpadtmp/software.aux
.texpadtmp/unpublished.aux
.Rproj.user/
